[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Exporter for machine metrics
[access "refs/*"]
	owner = group user/colbertphilippe
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/colbertphilippe
	label-Verified = -1..+1 group user/colbertphilippe
	push = group user/colbertphilippe
	read = group user/colbertphilippe
	rebase = group user/colbertphilippe
	removeReviewer = group user/colbertphilippe
	submit = group user/colbertphilippe
[access "refs/heads/*"]
	create = group user/colbertphilippe
	push = +force group user/colbertphilippe
	pushMerge = group user/colbertphilippe
	read = group user/colbertphilippe
[access "refs/tags/*"]
	push = group user/colbertphilippe
	push = +force group user/colbertphilippe
